{% extends 'Layout/base.html' %}
{% load static %}
{% load fontawesome %}



{% block content %}
	<a href="/">
	<button  class="btn btn-secondary" style="float:left;margin-top:0.5%"  data-toggle="modal">
		{% fontawesome_icon 'home' color='white' %}

   </button>
		</a>
<br>
<h2>Résultat de vôtre dernier partie {{pseudo}}.</h2>


<img src='{% static ""%}images/TableauBord/stat_this_game.png'>


<br><br>


    <form action="/thisGame" method="post">
        {% csrf_token %}


           <button  type="submit"  name="Download" value="All" class="btn" style="margin-left:95%;background-color:white">
                {% fontawesome_icon 'file-excel-o'%}

			</button>

        <button  type="submit"  name="Download" value="Delete" class="btn" style="margin-left:95%;background-color:white">
                {% fontawesome_icon 'trash'%}  {% fontawesome_icon 'database'%}

			</button></br></br>


    </form>

{% endblock %}

{% block javascript%}
  function load()
{
<!--setTimeout("window.open('http://127.0.0.1:8000/Analysis', '_self');", 10000);-->
}
{% endblock %}
