{% extends 'Layout/base.html' %}

{% load static %}
{% load fontawesome %}

{%block title%}Game | Shifumi{% endblock %}



{%block style%}

.gly-rotate-45 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.gly-rotate-100 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}


/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 1em 1em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #2ecc71;
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

/* BUTTON 2 */
.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}

/* BUTTON 3 */
.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

/* BUTTON 4 */
.btn-4::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::after {
  background: #2ecc71;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
  font-size : 13px;
  visibility:hidden;
}

.btn-5::after {
  background-color: blue;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}

.btn-primary:focus {
      background: red;
    }

    .btn-primary:active {
         background: purple !important;
        }
{% endblock %}

{% block content %}


	<header class="text-md-center" id="head_score" >


		<h3 id="scores"><p >{{oppenement_gain}} - {{agent_gain}}</p> </h3>

		<div class="grid-container">
  <!--<div class="grid-item"  >-->
	  <!--<img src="{% static ''%}images/mariana.png" style="width:10%;height:10%"/>-->
	  <!--<span id="msgText">-->
	  <!--Can you beat me?-->
	  <!--</span>-->
  <!--</div>-->

		</div>

<div class="container" id="">
		<a href="/">
	<button  class="btn btn-secondary" style="float:left;margin-top:0.5%"  data-toggle="modal">
		{% fontawesome_icon 'home' color='white' %}

   </button>
		</a>

  <div class="row">
    <div class="col">
     {{Pseudo}}
    </div>
    <div class="col-6">

<div class="progress" style="height:20%,width:20%">
  <div id="progresseBarOp" class="progress-bar progress-bar-striped" style="width:0%;height:20px"></div>
</div>
    </div>
    <div class="col">
        {% for i in start_rouge_pl %}
		{% fontawesome_icon 'star' color='red' %}
		{% endfor %}

		{% for i in start_bleu_pl %}
		{% fontawesome_icon 'star' color='blue' %}
		{% endfor %}

		{% for i in start_vert_pl %}
		{% fontawesome_icon 'star' color='green' %}
		{% endfor %}

		{% for i in start_orange_pl %}
		{% fontawesome_icon 'star' color='orange' %}
		{% endfor %}

		{% for i in start_jaune_pl %}
		{% fontawesome_icon 'star' color='yellow' %}
		{% endfor %}

	</div>
  </div>
  <div class="row">
    <div class="col">
        {{Choiced_model}}
    </div>
    <div class="col-6">
<div class="progress" style="height:20px,width:20%">
  <div id="progresseBarAg" class="progress-bar bg-info progress-bar-striped" style="width:0%;height:20px"></div>
</div>
    </div>
    <div class="col">
         {% for i in start_rouge_ag %}
		{% fontawesome_icon 'star' color='red' %}
		{% endfor %}

		{% for i in start_bleu_ag %}
		{% fontawesome_icon 'star' color='bleu' %}
		{% endfor %}

		{% for i in start_vert_ag %}
		{% fontawesome_icon 'star' color='green' %}
		{% endfor %}

		{% for i in start_orange_ag %}
		{% fontawesome_icon 'star' color='orange' %}
		{% endfor %}

		{% for i in start_jaune_ag %}
		{% fontawesome_icon 'star' color='yellow' %}
		{% endfor %}
	</div>
  </div>
</div>
		<!--{{agent_gesture_next}}-->
	<hr>



			</header>

<div style="">
<br>
<br><br>
	<div class="container" id="gridCenter" style="background-color:rgba(200,300,150,0.2);border-radius:35px;margin-top:-5%">

  <div class="row">
	  <div class="col-md-2">

	</div>
    <div class="col-md-3 col-md-offset-6">
		</br>


<div class="card rounded-circle " id="oppomentCard" >

	  <form action="/Game" method="post">
        {% csrf_token %}


				<!--<img class="card-img-top img-fluid p-a-1" src="" style="height:auto"  id="yourChoiceImg">-->
		<div class="container">
  <div class="row ">
    <div class="col-sm-5  col-md-5" style="margin-top:20%">
<button class="btn btn-primary  rounded-circle" type="submit" value="Rock"  style="margin-left:-49%" name="MoveChoice" class="btn btn-default" id="btnRock" autocomplete="off">
			<i class="gly-rotate-45 " aria-hidden="true"></i>
{% fontawesome_icon 'hand-rock-o fa-5x fa-rotate-90'  %}
				</button>

	</div>

    <div class="col-5 col-sm-5" style="margin-top:20%">
<button type="submit" class="btn btn-primary rounded-circle"  style="margin-left:70%" value="Paper" name="MoveChoice"  id="btnPaper" autocomplete="off">
				<i class="far fa-hand-paper gly-rotate-45">
					{% fontawesome_icon 'hand-paper-o fa-5x fa-rotate-90' %}
				</i>

</button>    </div>
  </div>




  <div class="row justify-content-center" style="margin-top:0%">
    <!--<div class="col-sm-5 ">-->
	<!--</div>-->
    <div class="col-6">

				<button type="submit" class="btn btn-primary rounded-circle"  style="margin-bottom:-50%" value="Scissors" name="MoveChoice"   id="btnScissors" autocomplete="off">
				<i class="far">{% fontawesome_icon 'hand-peace-o fa-5x fa-rotate-90'%}</i>

</button>

	</div>


  </div>

					<div class="row justify-content-center col-md-3 col-md-offset-3" style="margin-left:20%">
    <div class="col-5">

	</div>
    <div class="col-5">
	</div>

  </div>
					<br>
</div>
	  </form>


</div>


    </div>
<div class="col-md-2">

	</div>
    <div class="col-sd-19 col-md-3" >
				</br>

<div class="card rounded-circle" style="margin-bottom:-80%" id="agentCard" >

				<img class="card-img-top img-fluid p-a-2" src="" id="myChoiceImg">

			</div>

    </div>
<br><br>
	    </div>

	 <div class="row" >
    <div class="col-md-3">
	</div>


<div class="col-md-5 col-6">
	<br>	<br>
<form action="/Game" method="post">
        {% csrf_token %}
<button type="submit" class="btn-5" name="submit"  value="visualiseMesResultat" id="restartgame">

	         Arrêter la partie et voir son resultat

			</button>

<br>
</form>

	</div>
    <div class="col-md-2 col-4" >
		<form action="/Game" method="post">
        {% csrf_token %}
		</br>	<br>

			<button type="submit" class="btn-5" name="submit"  value="restartgame" id="restartgame">
                Recommencer
			</button>
			<br>


	  </form>

    </div>

  </div>




</div>
</div>
		<!--{{agent_gesture_next}}-->



<div class="modal fade" id="resultModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				<h4 class="modal-title">RESULT!</h4>
			</div>
			<div class="modal-body" id="alertResults">

				fdfdfd
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-block btn-secondary" data-dismiss="modal" id="closeReset">Close & Reset</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">The Robot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		<form action="/Game" method="post">
        {% csrf_token %}
      <div class="modal-body">

           {% for key in All_agent_name%}

        	<button  type="submit"  name="choiceModel" value="{{key}}" class="btn btn-lg btn-block btn-secondary m-b-1" data-toggle="modal" data-target="#exampleModalCenter"  autocomplete="off">
				<i class="fas fa-robot"> {{key}}</i>

			</button></br>
		  	<!--<button  type="submit" name="choiceModel" value="TDNN" class="btn btn-lg btn-block btn-secondary m-b-1"  data-toggle="modal" data-target="#exampleModalCenter"  autocomplete="off">-->
				<!--<i class="fas fa-robot"> Ibrahim </i>-->

   <!--</button></br>-->
		  	<!--<button  type="submit" name="choiceModel" value="HMM" class="btn btn-lg btn-block btn-secondary m-b-1" data-toggle="modal" data-target="#exampleModalCenter"  autocomplete="off">-->
				<!--<i class="fas fa-robot"> Kelyan</i>-->

   <!--</button></br>-->

          {% endfor %}



      </div>
		</form>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}



{% block javascript %}

// Get elements to update
const yourImgToUpdate = $('#yourChoiceImg');
const yourTextToUpdate = $('#yourChoiceText');
const myImgToUpdate = $('#myChoiceImg');
const myTextToUpdate = $('#myChoiceText');
const myMsgToUpdate = $('#msgText');
const progressBarOp = $('#progresseBarOp');
const progressBarAg = $('#progresseBarAg');

const block_oppoment = $('#oppomentCard');
const  block_agent = $('#agentCard');

const alertResult = $('#alertResults');
const alertModal = $('#resultModal');
const alertYourScore = $('#yourScore');
const alertMyScore = $('#myScore');
const recordYourScore = $('#yourScore span');
const recordMyScore = $('#myScore span');
const startOver = $('#restartgame');
const letsPlay = $('#letsPlay');

// Store images in object
let images = {
	rock: "{% static ''%}images/rockInverse.png",
	paper: "{% static ''%}images/paperIn.png",
	scissors: "{% static ''%}images/scissorsIn.png",
    rockRobot: "{% static ''%}images/rock.png",
	paperRobot: "{% static ''%}images/paper.png",
	scissorsRobot: "{% static ''%}images/scissors.png",
	mariana: "{% static ""%}images/mariana.png",
    question: "{% static ""%}images/None.png"
};

// Store alert components in object
let alertDiv = {
	loose: "<div class='alert alert-danger' role='alert'><strong>Loser!</strong> HaHaHa you looseee!</div>",
	win:  "<div class='alert alert-success' role='alert'><strong>Wahoo you win!</strong> Lets play again!</div>",
	draw: "<div class='alert alert-info' role='alert'><strong>Close!</strong> it was a draw, please reset and try again.</div>"
};

// Track player score
let yourScore = 0;
let myScore = 0;

// Function to update images
const updateImg = (img, val) => {
	switch(val){
		case "Rock":
			img.attr('src', images.rock);
			break;
		case "Paper":
			img.attr('src', images.paper);
			break;
		case "Scissors":
			img.attr('src', images.scissors);
			break;
		default:
			img.attr('src', images.question);
	}
};

const updateImgRobot = (img, val) => {
	switch(val){
		case "Rock":
			img.attr('src', images.rockRobot);
			break;
		case "Paper":
			img.attr('src', images.paperRobot);
			break;
		case "Scissors":
			img.attr('src', images.scissorsRobot);
			break;
		default:
			img.attr('src', images.question);
	}
};

// Reset image to question mark
const resetImg = () => {
	myImgToUpdate.attr("src", images.question);
	myTextToUpdate.text("");
	myMsgToUpdate.text("Can you beat me?");

	yourImgToUpdate.attr("src", images.question);
	yourTextToUpdate.text("");
};

// Function to update the alert content
const updateAlert = (alert) => {
	alertResult.append(alert);
};

// Function to update the score
const updateScore = (score) => {
	(score === "yourScore") ? yourScore += 1 : myScore += 1;
};

// Combine alert and score functions
const alertScore = (theAlert, theScore) => {
    alertResult.append(theAlert);
	updateScore(theScore);
};

// Disable the play button function until an option is chosen
const disablePlay = () => {
	(yourTextToUpdate.text() === "") ? letsPlay.attr('disabled', true) : letsPlay.attr('disabled', false);
};

const resetPlayBtn = () => {
	$('#alertResults').children().remove();
	$('#letsPlay').text("Play");
};


const transform_all_var_1_5 =(player,joeur_gain,agent_gain) =>
{


var agent = agent_gain;
var joeur = joeur_gain ;
var tamp = "{{tampon}}" ;
joeur_t  = joeur - tamp;
agent_t  = agent - tamp;

if(player == "agent"){

if(agent <= 5 ){
pourcentage = 20
}else{
pourcentage = (agent_t / Math.abs((agent - joeur))) * 100;

}

console.log("First Param"+" agent="+agent+" joeur="+joeur+" tamp = "+tamp);
console.log("Result bar"+" agent="+agent_t+" Pourcentage="+pourcentage)
return agent_t * pourcentage;


}else if(player == "joeur"){
if(joeur <= 5 ){
pourcentage = 20
}else{
pourcentage = (joeur_t / Math.abs((agent - joeur))) * 100;

}

console.log("First Param"+" agent="+agent+" joeur="+joeur+" tamp = "+tamp);
console.log("Result bar"+" joeur="+joeur_t+" Pourcentage="+pourcentage)


return joeur_t * pourcentage;
}

}




// Make the game
$(document).ready( function() {



$('#myModal').on('shown.bs.modal', function () {
    $('#referencia').focus();
})

	// Disable play button on page load.
	<!--$('#letsPlay').attr('disabled', true);-->

	// Reset the choices, images and play
	// button state back to default.
	$('#closeReset').click( function() {
		resetImg();
		resetPlayBtn();
	//	disablePlay();
	});

	// Capture user choice info and enable
	// play button.
	$('input[type="submit"]').on('click change',function() {
        var value = $(this).val();
        console.log(value);

		yourTextToUpdate.text(value);
		updateImg(yourImgToUpdate, value);




	//	disablePlay();

	});

	// Capture comp choice info and start
	// to play the game.

    var agent_gesture = "{{agent_gesture}}";
	var userChoice = "{{oppenement_gesture}}" ;
	var gain_oppement = "{{oppenent_gain_actuel}}" ;
    var agent_gain = "{{agent_gain}}"
    var op_gain = "{{oppenement_gain}}";

    var msgWin = ["you won it's great","You play with delicacy, it's very good","You win but I will win at the end"];
    var msgLost = ["Your lost is not probleme ,you could beat me next time","lost, but I can't believe ","it does not matter, try again"];
    var msgTie = ["Tie , i can win next move","Tie, is not very funny","Tie ,but finnaly the winner it's me"];

var random_index = Math.floor(Math.random() * (2 - 0 + 1)) + 0;

console.log("Random"+random_index);



    <!--console.log("Actuel="+gain_oppement)-->
    <!--console.log("MOVE**="+agent_gesture)-->

   <!--&lt;!&ndash;yourTextToUpdate.text(userChoice);&ndash;&gt;-->
	<!--updateImg(yourImgToUpdate, userChoice);-->

    <!--myTextToUpdate.text(agent_gesture);-->
	<!--updateImgRobot(myImgToUpdate, agent_gesture);-->
    console.log(agent_gesture+" ");

    if(agent_gesture != "None"){
<!--progressBarOp.css("width" , ( transform_all_var_1_5("joeur",5,4)) + "%");-->
<!--progressBarAg.css("width" , ( transform_all_var_1_5("agent",5,4 ))+ "%");-->

progressBarOp.css("width" , "{{taux_joeur}}"+ "%");
progressBarAg.css("width" , "{{taux_agent}}"+ "%");

if(gain_oppement== 1){
<!--myMsgToUpdate.text(msgWin[random_index]);-->
$("body").css("background-color","rgba(10,228,54,0.50)");
$("#head_score").css("background-color","rgba(242, 300, 300,0.3)");
$("#oppomentCard").css("background-color","rgba(255,220,174,0.4)");
$("#agentCard").css("background-color","rgba(255,220,174,0.4)");
$("#gridCenter").css("background-color","rgba(100,100,100,0.4)");
$(".btn-5").css("visibility","visible");



}


if(gain_oppement== -1){
<!--myMsgToUpdate.text(msgLost[random_index]);-->
$("body").css("background-color","rgba(255,10,10,0.90)");
$("#head_score").css("background-color","rgba(242, 300, 300,0.3)");
$("#oppomentCard").css("background-color","rgba(255,220,174,0.4)");
$("#agentCard").css("background-color","rgba(255,220,174,0.4)");
$("#gridCenter").css("background-color","rgba(200,0,100,0.4)");
$(".btn-5").css("visibility","visible");
}



if(gain_oppement == 0){
<!--myMsgToUpdate.text(msgTie[random_index]);-->
$("body").css("background-color","rgba(238,194,144,0.30)");
$("#head_score").css("background-color","rgba(120,120,120,0.5)");
$("#oppomentCard").css("background-color","rgba(255,220,174,0.4)");
$("#agentCard").css("background-color","rgba(255,220,174,0.4)");
$("#gridCenter").css("background-color","rgba(100,100,100,0.4)");
$(".btn-5").css("visibility","visible");

}   }

    yourTextToUpdate.text(userChoice);
	updateImg(yourImgToUpdate, userChoice);

    myTextToUpdate.text(agent_gesture);
	updateImgRobot(myImgToUpdate, agent_gesture);
    console.log(agent_gesture+" ");



    console.log(" AGENT_Gesture = "+agent_gesture+" userChoice="+userChoice)

    if(agent_gesture){

		if ($(this).text() === "Reset") {

			resetImg();
			resetPlayBtn();
			disablePlay();

		} else {

		yourTextToUpdate.text(value);
		updateImg(yourImgToUpdate, value);

			<!--var computerChoice = Math.random();-->

			<!--if (computerChoice < 0.34) {-->
				<!--computerChoice = "Rock";-->
			<!--} else if (computerChoice <= 0.67) {-->
				<!--computerChoice = "Paper";-->
			<!--} else {-->
				<!--computerChoice = "Scissors";-->
			<!--};-->

			myTextToUpdate.text(agent_gesture);
			updateImgRobot(myImgToUpdate, agent_gesture);




			if (userChoice === agent_gesture) {
				updateAlert(alertDiv.draw);
			} else if (userChoice === "Rock") {
				if (agent_gesture === "Scissors") {
					alertScore(alertDiv.win, "yourScore");
				} else {
					alertScore(alertdiv.loose, "myScore");
				}
			} else if (userChoice === "Paper") {
				if (agent_gesture === "Rock") {
					alertScore(alertDiv.win, "yourScore");
				} else {
					alertScore(alertDiv.loose, "myScore");
				}
			} else if (userChoice === "Scissors") {
				if (agent_gesture === "Rock") {
					alertScore(alertDiv.loose, "myScore");
				} else {
					alertScore(alertDiv.win, "yourScore");
				}
			}

			$(this).text("Reset");

			recordMyScore.text(myScore);
			recordYourScore.text(yourScore);

			if (myScore > yourScore) {
				alertMyScore.removeClass('alert-info alert-danger').addClass('alert-success');
				alertYourScore.removeClass('alert-info alert-success').addClass('alert-danger');
			} else if (myScore < yourScore) {
				alertMyScore.removeClass('alert-info alert-success').addClass('alert-danger');
				alertYourScore.removeClass('alert-info alert-danger').addClass('alert-success');
			} else {
				alertMyScore.removeClass('alert-success alert-danger').addClass('alert-info');
				alertYourScore.removeClass('alert-danger alert-success').addClass('alert-info');
			}

		};

}

	$('#startOver').click( function() {

		resetImg();
		resetPlayBtn();

		yourScore = 0;
		myScore = 0;

		recordMyScore.text(myScore);
		recordYourScore.text(yourScore);

		alertMyScore.removeClass('alert-success alert-danger');
		alertYourScore.removeClass('alert-success alert-danger');
		alertMyScore.addClass('alert-info');
		alertYourScore.addClass('alert-info');

	});

});

{% endblock %}


