{% extends 'Layout/base.html' %}

{% load static %}

{%block title%}HomePage | Shifumi{% endblock %}


{% block content %}



<div class="container">


    <h2 class="text-center" style="color:white">
         <a href="/humanVsComputerGame">
     <button type="submit"  name="submit" class="btn btn-info"  style="float:left">
    <span class="glyphicon glyphicon-search"></span>Human Vs Mariana
  </button></a>
        Human Vs Human  </h2>


    <form action="/humansGame" method="post">
        {% csrf_token %}



    <div class="row row-centered" style="color:white">
        <div class="col-xs-6 col-centered">
            Player 1:
              <table cellpadding="10%">
                <tbody>



                <tr>
                    <td ><label class="btn btn-secondary">
                        <input type="radio" value="1" name="choiceOne"  class="btn btn-default"  autocomplete="off">
    <span class="glyphicon glyphicon-search"></span>Rock
  </input>
                    </label>

                    </td>
                    <td>
                        <label class="btn btn-secondary">
                        <input type="radio" value="2" name="choiceOne" onclick="this.src={% static ''%}images/paperhand.jpg;"  name="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>Paper
  </input>
                        </label>
                    </td>
                    <td>
                        <label class="btn btn-secondary">
                        <input type="radio" value="3" name="choiceOne" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>Scissors
  </input>
                        </label>
                    </td>

                </tr>
               </tbody>


            </table>

            <img class="img-responsive" width="100%" id="Firstimage" src="{% static ''%}images/{{image1}}.jpg " />

             <button type="submit" value="Restart" name="submit" class="btn btn-primary btn-large"  style="float:center;margin-top:10%">
    <span class="glyphicon glyphicon-search"></span>Restart Game
  </button>
        </div>

        <div class="col-xs-3 col-centered" style="height:20%;background-color:rgba(185,44,13,1);color:white">
            <table cellpadding="8%">

                <thead style="align:center">
                <br>
                <button type="submit" value="Validate" name="submit" class="btn btn-success" style="float:center;">
    <span class="glyphicon glyphicon-search"></span>Validate
  </button></thead>
                <tbody>

                <tr style="width:20%">
                    <td>Player 1:</td>
                    <td > Win : {{winp1}}</td>
                    <td> Tie : {{tiep1}}</td>
                    <td> Lost : {{lostp1}}</td>

                </tr>
                <tr style="width:20%">
                    <td>Player 2:</td>
                    <td > Win : {{winp2}}</td>
                    <td> Tie : {{tiep2}}</td>
                    <td> Lost : {{lostp2}}</td>

                </tr>
               </tbody>

                <tfoot> <br><br> Round :{{round}} </tfoot>
            </table>

        </div>

        <div class="col-xs-6 col-centered" style="color:white">
           Player 2 :
            <table cellpadding="10%">
                <tbody>


                <tr>
                    <td ><label class="btn btn-secondary">
                        <input type="radio" value="1" name="choiceTwo"  class="btn btn-default"  autocomplete="off">
    <span class="glyphicon glyphicon-search"></span>Rock
  </input>
                    </label>

                    </td>
                    <td>
                        <label class="btn btn-secondary">
                        <input type="radio" value="2" name="choiceTwo" onclick="this.src={% static ''%}images/paperhand.jpg;"  name="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>Paper
  </input>
                        </label>
                    </td>
                    <td>
                        <label class="btn btn-secondary">
                        <input type="radio" value="3" name="choiceTwo" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>Scissors
  </input>
                        </label>
                    </td>

                </tr>
               </tbody>


            </table>


            <img class="img-responsive" width="100%" id="Secondimage" src="{% static ''%}images/{{image2}}.jpg" />


        </div>
    </div>
    <hr>


</form>


</div>

{% endblock content%}

{% block javascript%}

{% endblock %}