{% extends 'Layout/base.html' %}

{% load static %}

{%block title%}HomePage | Shifumi{% endblock %}


{% block content %}



<div class="container">

    <h2 class="text-center" style="color:white">
         <a href="/humansGame">
     <button type="submit" value="Restart" name="submit" class="btn btn-info"  style="float:left;">
    <span class="glyphicon glyphicon-search"></span>Human Vs Human
  </button></a>

        Human Vs Mariana </h2>


    <form action="/humanVsComputerGame" method="post">
        {% csrf_token %}



    <div class="row row-centered">
        <div class="col-xs-6 col-centered" style="color:white">
            Human
              <table cellpadding="10%">
                <tbody>



                <tr>
                    <td >
                        {% if  NewGame %}
                        <button type="submit" value="rock" name="submit"  class="btn btn-default"  autocomplete="off">
    <span class="glyphicon glyphicon-search"></span>Rock
  </button>

                        {% else %}
                           <button type="submit" value="rock" name="submit"  class="btn btn-default"  autocomplete="off" disabled="disabled">
    <span class="glyphicon glyphicon-search"></span>Rock
  </button>


                        {% endif %}


                    </td>
                    <td>

                      {% if  NewGame %}

                        <button type="submit" value="paper" name="submit" onclick="clickpaperOne()"  name="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>Paper


  </button>

                        {% else %}
                             <button type="submit" value="paper" name="submit" onclick="clickpaperOne()"  name="submit" class="btn btn-default" disabled="disabled">
    <span class="glyphicon glyphicon-search"></span>Paper


  </button>


                        {% endif %}

                    </td>
                    <td>
                        {% if  NewGame %}

                        <button type="submit" value="scissors" name="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>Scissors
  </button>

                        {% else %}
                         <button type="submit" value="scissors" name="submit" class="btn btn-default" disabled="disabled">
    <span class="glyphicon glyphicon-search"></span>Scissors
  </button>


                        {% endif %}
                    </td>

                </tr>
               </tbody>


            </table>

            <img class="img-responsive" width="100%" id="Firstimage" src="{% static ''%}images/{{image1}}.jpg " />

             <button type="submit" value="Restart" name="submit" class="btn btn-primary btn-large" style="float:center;margin-top:10%">
    <span class="glyphicon glyphicon-search"></span>Restart Game
  </button>
        </div>


          <div class="col-xs-3 colCenter" style="height:20%;background-color:rgb(77, 147, 164);color:white">
            <table cellpadding="30%">

                <tbody>

                <tr>
                    <td > Win : {{win}}</td>
                    <td> Tie : {{tie}}</td>
                    <td> Lost : {{lost}}</td>

                </tr>
               </tbody>

                <tfoot>Round :{{round}}</tfoot>
            </table>

        </div>

        <div class="col-xs-6 col-centered" style="color:white">


            {% if  NewGame %}

             <p style="color:blue">next move : {{nextmove}} </p>
            <p style="color:blue">Actual move : {{actualmove}} </p>


            <img class="img-responsive" width="100%" height="50%" id="Secondimage" src="{% static ''%}images/{{image2}}.png" />

            {% else %}
               <button type="submit" value="Random_Model" name="submit" class="btn btn-primary btn-large" style="float:center;margin-top:10%">
    <span class="glyphicon glyphicon-search"></span>Random Player
  </button> <br>
            <button type="submit" value="Tree_Model" name="submit" class="btn btn-primary btn-large" style="float:center;margin-top:10%">
    <span class="glyphicon glyphicon-search"></span> Tree_Model Player
  </button> <br>





            {%endif%}





        </div>
    </div>
    <hr>


</form>


</div>

{% endblock content%}
